<!DOCTYPE html>
<html>
  <head>
    <title>SquareGame</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      var socket = io();
      var currentPlayer = null;

      $(document).ready(function () {
        registerEvents();
      });

      function registerEvents() {
        socket.on('init', function(player, boardConfig, board){
          if(currentPlayer === null){
            currentPlayer = player;
          }
          buildTable(boardConfig.boardSize, board);
          $(".container").css("color", currentPlayer.team.color);
          $(".container").html("<h1>"+ currentPlayer.name+"</h1>");

          $("#board td").on('click', function () {
            cell = getCellPosition($(this));
            socket.emit('cell_click', cell, currentPlayer.team.color);
            console.log(cell);
            return false;
          });

        });

        socket.on('cell_click', function(cell, teamColor){
          $("#"+cell.row+"_"+cell.col).css("background-color", teamColor);
        });
      }

      function getCellPosition($cell) {
        var cell = {
          row: $cell.data('row'),
          col: $cell.data('col')
        };

        return cell;
      }

      function buildTable(size, board) {
        var tableHtml = '<table class="box" cellpadding="0" cellspacing="0" id="board">';
        for (row = 0; row < size; row++) {
          tableHtml += '<tr>';
          for (col = 0; col < size; col++) {
            tableHtml += '<td style="background-color: '+board[row][col]+'" id="'+ row + '_' + col +'" data-row="' + row + '" data-col="' + col + '"></td>';
          }
          tableHtml += '</tr>';
        }
        tableHtml += '</table>';
        $('.game-wrapper').html(tableHtml);
      }

    </script>

  </head>
  <body>
    <div class="container" align="center">
    </div>
    <div class="game-wrapper"></div>
  </body>
</html>