<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SquareGame</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      var socket = io();
      var currentPlayer = null;
      var allPlayers = null;

      $(document).ready(function () {
        socket.emit('start', "<%= username%>");
        registerEvents();
      });

      function registerEvents() {
        socket.on('init', function(player, boardConfig, board, players){
          if(currentPlayer === null){
            currentPlayer = player;
            buildTable(boardConfig.boardSize, board);
            $(".header").css("color", currentPlayer.team.color);
            $(".header").html("<h1>"+ currentPlayer.name+"</h1>");

            $("#board td").on('click', function () {
              var cell = getCellPosition($(this));
              socket.emit('cell_click', cell, currentPlayer);
              return false;
            });
            updateLeadBoard(players);
          }
        });

        socket.on('cell_click', function(cell, player, players, board){
          updateBoard(board);
          updateLeadBoard(players);
        });
      }

      function updateBoard(board){
        for(var i = 0; i < board.length; i++) {
          for(var j = 0; j < board.length; j++) {
            var cell = $("#"+i+"_"+j);
            cell.css("background-color", board[i][j].color);
            if(board[i][j].fruit === true){
              cell.css('background-image', 'url("/images/fruits/'+board[i][j].fruitNumber+'.png")');
            }else {
              cell.css('background-image', '');
            }
          }
        }
      }

      function getCellPosition($cell) {
        var cell = {
          row: $cell.data('row'),
          col: $cell.data('col')
        };

        return cell;
      }

      function updateLeadBoard(players){
        $('#leadboard').empty();
        var index = 1;
        players.forEach(function(player){
          if(player !== null){
            $('#leadboard').append('<tr><td style="color: '+player.team.color+'">'+player.name+'</td><td class="sortnr">'+player.score+'</td></tr>');
            index++;
          }
        });
        sortTable();
      }

      function sortTable(){
        var tbl = document.getElementById("leadboard");
        var store = [];
        for(var i=0, len=tbl.rows.length; i<len; i++){
          var row = tbl.rows[i];
          var sortnr = parseFloat(row.cells[1].textContent || row.cells[1].innerText);
          if(!isNaN(sortnr)) store.push([sortnr, row]);
        }
        store.sort(function(x,y){
          return y[0] - x[0];
        });
        for(var i=0, len=store.length; i<len; i++){
          tbl.appendChild(store[i][1]);
        }
        store = null;
      }


      function buildTable(size, board) {
        var tableHtml = '<table class="box" cellpadding="0" cellspacing="0" id="board">';
        for (row = 0; row < size; row++) {
          tableHtml += '<tr>';
          for (col = 0; col < size; col++) {
            tableHtml += '<td class="cell" style="background-color: '+board[row][col].color+'" id="'+ row + '_' + col +'" data-row="' + row + '" data-col="' + col + '"></td>';
          }
          tableHtml += '</tr>';
        }
        tableHtml += '</table>';
        $('.game-wrapper').html(tableHtml);
        $(".box").height($(document).height());
        updateBoard(board);
      }

    </script>

  </head>
  <body>
    <div class="container-full" align="center">
      <div class="game-wrapper"></div>

      <hr/>
      <div class="header"></div>
      <div class="leadboard" align="center">
        <h2>Leadboard</h2>
        <table class="table table-inverse" id="leadboard">
        </table>
      </div>


    </div>
  </body>
</html>