<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= game.name %></title>
    <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      var socket = io();
      var currentPlayer = null;
      var token = null;

      $(document).ready(function () {
        socket.emit('start', "<%= username %>", "<%= token %>");
        token = "<%= token %>";
        registerEvents();
      });

      function registerEvents() {
        socket.on('init', function(player, boardConfig, board, players){
          if(currentPlayer === null){
            currentPlayer = player;
            buildTable(boardConfig.boardSize, board);
            $(".cell").on('click', function () {
              var cell = getCellPosition($(this));
              $(this).fadeTo('fast', 0.1).fadeTo('fast', 1.0);
              socket.emit('cell_click', cell, currentPlayer, token);
              return false;
            });
            updateLeadBoard(players);
            initHeader(player);
          }
        });

        socket.on('after_cell_click', function(player, players, board, diffs){
          updateBoard(board, diffs);
          updateLeadBoard(players);
          updateHeader(players["p_"+currentPlayer.id]);
        });

        socket.on('close', function(player){
          if(currentPlayer !== null && currentPlayer.id === player.id){
            alert("You are disconnected from server");
            window.location.replace("/");
          }
        });
      }

      function initHeader(player){
        $(".color").css("background-color", player.color);
        $(".playername").html(player.name);
        $(".score").html(player.score);
        $(".rank").html($("#player_"+player.id).html());
      }

      function updateHeader(player){
        $(".score").html(player.score);
        var rank = $(".rank");
        var previousRank = rank.html();
        var newRank = $("#player_"+player.id).html();

        var rankChange = $(".rank-change");
        if(parseInt(newRank)<parseInt(previousRank)){
          rankChange.css('background-image', 'url("/images/rank/up.png")');
        }else if(parseInt(newRank)>parseInt(previousRank)){
          rankChange.css('background-image', 'url("/images/rank/down.png")');
        }
        rank.html(newRank);
      }

      function updateBoard(board, diffs){

        if(diffs != false){
          diffs.forEach(function(diff){
            var cell = $("#"+diff.row+"_"+diff.col);
            switch(diff.action) {
              case "remove_item":
                cell.css('background-image', '');
                break;
              case "create_fruit":
                cell.css('background-image', 'url("/images/fruits/'+diff.fruitNumber+'.png")');
                break;
              case "change_color":
                cell.css("background-color", diff.color);
                break;
              case "create_pumpkin":
                cell.css('background-image', 'url("/images/pumpkin.png")');
                break;
            }
          });

        }else{
          for(var i = 0; i < board.length; i++) {
            for(var j = 0; j < board.length; j++) {
              var cell = $("#"+i+"_"+j);
              cell.css("background-color", board[i][j].color);
              if(board[i][j].fruit === true){
                cell.css('background-image', 'url("/images/fruits/'+board[i][j].fruitNumber+'.png")');
              }else if(board[i][j].pumpkin === true){
                cell.css('background-image', 'url("/images/pumpkin.png")');
              }else {
                cell.css('background-image', '');
              }
            }
          }
        }
      }

      function getCellPosition($cell) {
        return {
          row: $cell.data('row'),
          col: $cell.data('col')
        };
      }

      function updateLeadBoard(players){
        $('#leadboard').empty();

        for (var key in players) {
          var player = players[key];
          if(player !== null){
            $('#leadboard').append('<tr><td id="player_'+player.id+'" width="5%" style="background-color: '+player.color+'"></td><td>'+player.name+'</td><td align="right" class="sortnr">'+player.score+'</td></tr>');
          }
        }
        sortTable();
      }

      function sortTable(){
        var tbl = document.getElementById("leadboard");
        var store = [];
        for(var i=0, len=tbl.rows.length; i<len; i++){
          var row = tbl.rows[i];
          var sortnr = parseFloat(row.cells[2].textContent || row.cells[2].innerText);
          if(!isNaN(sortnr)) store.push([sortnr, row]);
        }
        store.sort(function(x,y){
          return y[0] - x[0];
        });
        for(var i=0, len=store.length; i<len; i++){
          var currentRow = store[i][1];
          currentRow.cells[0].innerText = i+1;
          tbl.appendChild(currentRow);
        }
        store = null;
      }


      function buildTable(size, board) {
        var tableHtml = '<table class="box" cellpadding="0" cellspacing="0" id="board">';
        for (row = 0; row < size; row++) {
          tableHtml += '<tr>';
          for (col = 0; col < size; col++) {
            tableHtml += '<td class="cell" style="background-color: '+board[row][col].color+'" id="'+ row + '_' + col +'" data-row="' + row + '" data-col="' + col + '"></td>';
          }
          tableHtml += '</tr>';
        }
        tableHtml += '</table>';
        $('.game-wrapper').html(tableHtml);
        $(".box").height($(document).height() - $(".header").height());
        updateBoard(board, false);
      }

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97483889-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
  <div class="container-full" align="center">
      <div class="header">
        <table class="table table-inverse header-table">
          <tr>
            <td class="color" width="5%" ></td>
            <td></td>
            <td width="5%" class="header-score" >SCORE</td>
            <td width="10%" class="score header-score" ></td>
            <td width="5%"  class="header-rank" >RANK</td>
            <td width="10%"  class="rank header-rank" ></td>
            <td width="5%" align="right" class="rank-change" ></td>
          </tr>
        </table>
      </div>
      <div class="game-wrapper"></div>
      <hr/>
      <div class="leadboard" align="center">
        <h2>Leadboard</h2>
        <table class="table table-inverse" id="leadboard">
        </table>
      </div>
    </div>
  </body>
</html>