<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .nick{
            width:80%!important;
            color: #55f034 !important;
            background-color: #333333!important;
            text-align: center;
        }
        .logo{
            color: #00f000;
        }
        .dark{
            background-color: #000000;
        }

        .central {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .btn-custom {
            width: 80%!important;
            background-color: hsl(165, 93%, 48%) !important;
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1fdf6", endColorstr="#08ecb3");
            background-image: -khtml-gradient(linear, left top, left bottom, from(#e1fdf6), to(#08ecb3));
            background-image: -moz-linear-gradient(top, #e1fdf6, #08ecb3);
            background-image: -ms-linear-gradient(top, #e1fdf6, #08ecb3);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1fdf6), color-stop(100%, #08ecb3));
            background-image: -webkit-linear-gradient(top, #e1fdf6, #08ecb3);
            background-image: -o-linear-gradient(top, #e1fdf6, #08ecb3);
            background-image: linear-gradient(#e1fdf6, #08ecb3);
            border-color: #08ecb3 #08ecb3 hsl(165, 93%, 36.5%);
            color: #333 !important;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
            -webkit-font-smoothing: antialiased;
        }


    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= game.name %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="dark">
    <div class="container" align="center">
        <div class="row">
            <div class="central">
                <h1 class="logo"><%= game.name %></h1>
                <form class="form-inline" action="/play" method="post">
                    <div class="form-group">

                        <input type="text" class="form-control nick" name="username" placeholder="Nick">
                    </div>
                    <button type="submit" class="btn btn-custom btn-responsive">Play</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>