.cell {
  text-align:center;
  vertical-align:middle;
  background-color: #000;
  border:1px solid #fff;
  background-size:50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  width:100%;
  height:100%;
  background-color:#d9d9d9;
  margin:0 auto;
}

.game-wrapper{
  width: 100%;
  text-align: center;
  margin: auto;
}

.leadboard{
  width: 100%;
}

.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}

.header-table{
  margin-bottom: 0px !important;
}

.header-rank{
  color: #ffdd00;
}

.header-score{
  color: #00f000;
}

.rank-change{
  background-size:50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.header{
  font-family: 'Graduate', cursive;
}